{% trans_default_domain 'pageedit' %}

<div class="text-center">
    <div class="btn-group btn-group-md" role="group">
{# Brand #}
        {% if type != 'dashboard' %}
            <a href="{{ path('pageedit_dashboard') }}" class="btn btn-success" title="PageEdit ({{ 'label.dashboard'|trans }})" role="button">
                <strong>PageEdit</strong></a>
        {% else %}
            <span class="btn btn-success"><strong>PageEdit</strong></span></a>
        {% endif %}

{# Display #}
        {% if type != 'dashboard' and type != 'display' and type != 'help' and type != 'new' and type != 'protected' %}
            <a href="{{ path('pageedit_display', {'page': page}) }}" class="btn btn-default" title="{{ 'label.current_version'|trans }}" role="button">
                <span class="glyphicon glyphicon-eye-open"></span></a>
        {% endif %}

{# Edit #}
        {% if type != 'dashboard' and type != 'edit' and type != 'help' and type != 'new' and type != 'protected' %}
            <a href="{{ path('pageedit_edit', {'page': page}) }}" class="btn btn-default" title="{{ 'label.modify'|trans }}" role="button">
                <span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}

{# New #}
        {% if type != 'new' %}
            <a href="{{ path('pageedit_new') }}" class="btn btn-default" title="{{ 'label.new_page'|trans }}" role="button">
                <span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}

{# Delete #}
        {% if type != 'dashboard' and type != 'delete' and type != 'help' and type != 'new' and type != 'protected' %}
            <a href="{{ path('pageedit_delete', {'page': page}) }}" class="btn btn-default" title="{{ 'label.delete'|trans }}" role="button">
                <span class="glyphicon glyphicon-trash"></span></a>
        {% endif %}

{# Help #}
        {% if type != 'help' %}
            <a href="{{ path('pageedit_help') }}" class="btn btn-info" title="{{ 'label.help'|trans }}" role="button">
                <span class="glyphicon glyphicon-flag"></span></a>
        {% endif %}

{# Main dashboard #}
        {% if dashboardRoute != null %}
            <a href="{{ path(dashboardRoute) }}" class="btn btn-info" title="{{ 'label.dashboard'|trans }}" role="button">
                <span class="glyphicon glyphicon-dashboard"></span></a>
        {% endif %}

{# Signout #}
        {% if signoutRoute != null %}
            <a href="{{ path(signoutRoute) }}" class="btn btn-info" title="{{ 'label.signout'|trans }}" role="button">
                <span class="glyphicon glyphicon-log-out"></span></a>
        {% endif %}
    </div>
</div>