{% extends "@c975LPageEdit/layout.html.twig" %}
{% trans_default_domain 'pageedit' %}
{% set title = 'label.dashboard'|trans({}, 'toolbar') %}

{% block pageedit_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LPageEdit/tools.html.twig', 'dashboard', 'md') }}
{# Title #}
    <div class="text-center">
        <h2 class="text-center">
            {{ 'text.list_pages'|trans }}
            {% if app.request.query.get('v') == null %}
                ({{ 'label.current'|trans }})
            {% elseif app.request.query.get('v') == 'archived' %}
                ({{ 'label.archived'|trans }})
            {% elseif app.request.query.get('v') == 'deleted' %}
                ({{ 'label.deleted'|trans }})
            {% elseif app.request.query.get('v') == 'redirected' %}
                ({{ 'label.redirected'|trans }})
            {% endif %}
        </h2>
{# Links to different kind of pages #}
        <p>
{# Current pages #}
            {% if app.request.query.get('v') == null %}
                <strong>{{ 'label.view_current_pages'|trans }}</strong>
            {% else %}
                {{ toolbar_button_text(path('pageedit_dashboard'), 'display', 'md', 'false', 'none', 'label.view_current_pages'|trans) }}
            {% endif %}
            &nbsp;&nbsp;
{# Archived #}
            {% if app.request.query.get('v') == 'archived' %}
                <strong>{{ 'label.view_archived_pages'|trans }}</strong>
            {% else %}
                {{ toolbar_button_text(path('pageedit_dashboard') ~ '?v=archived', 'display', 'md', 'false', 'none', 'label.view_archived_pages'|trans) }}
            {% endif %}
            &nbsp;&nbsp;
{# Deleted #}
            {% if app.request.query.get('v') == 'deleted' %}
                <strong>{{ 'label.view_deleted_pages'|trans }}</strong>
            {% else %}
                {{ toolbar_button_text(path('pageedit_dashboard') ~ '?v=deleted', 'display', 'md', 'false', 'none', 'label.view_deleted_pages'|trans) }}
            {% endif %}
            &nbsp;&nbsp;
{# Redirected #}
            {% if app.request.query.get('v') == 'redirected' %}
                <strong>{{ 'label.view_redirected_pages'|trans }}</strong>
            {% else %}
                {{ toolbar_button_text(path('pageedit_dashboard') ~ '?v=redirected', 'display', 'md', 'false', 'none', 'label.view_redirected_pages'|trans) }}
            {% endif %}
        </p>
{# Pagination #}
        <div class="navigation text-center">
            {{ knp_pagination_render(pages) }}
        </div>
{# List of pages and actions #}
        <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="text-center">
                        <span class="fas fa-eye"></span>&nbsp;{{ knp_pagination_sortable(pages, 'label.title'|trans, '[title]') }}&nbsp;<span class="fas fa-sort"></span>
                    </th>
                    <th class="text-center">
                        {{ knp_pagination_sortable(pages, 'label.semantic_url'|trans, '[slug]') }}&nbsp;<span class="fas fa-sort"></span>
                    </th>
                    {% if app.request.query.get('v') == null %}
                        <th class="text-center">
                            <span class="fas fa-pencil-alt"></span>&nbsp;{{ 'label.modify'|trans({}, 'toolbar') }}
                        </th>
                        <th class="text-center">
                            <span class="fas fa-copy"></span>&nbsp;{{ 'label.duplicate'|trans({}, 'toolbar') }}
                        </th>
                    {% endif %}
                    <th class="text-center">
                        <span class="fas fa-trash"></span>&nbsp;{{ 'label.delete'|trans({}, 'toolbar') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
{# Title & Display #}
                        <td class="text-center">
                            {% if page.status == 'archived' %}
                                {% set Route = path('pageedit_display_archived', {'page': page.slug}) %}
                            {% elseif page.status == 'deleted' %}
                                {% set Route = path('pageedit_display_deleted', {'page': page.slug}) %}
                            {% elseif page.status == 'redirected' %}
                                {% set Route = path('pageedit_display_redirected', {'page': page.slug}) %}
                            {% else %}
                                {% if page.slug != 'home' %}
                                    {% set Route = path('pageedit_display', {'page': page.slug|replace({'protected/': ''})}) %}
                                {% else %}
                                    {% set Route = path('pageedit_home') %}
                                {% endif %}
                            {% endif %}
                            {{ toolbar_button_text(Route, 'display', 'sm', 'true', 'right', page.title) }}
                        </td>
{# Slug #}
                        <td class="text-left">
                            {% if '/' in page.slug %}
                                <strong>/{{ page.slug|replace({(page.slug|split('/')|last): ''}) }}</strong>{{ page.slug|split('/')|last }}
                            {% elseif page.slug != 'home' %}
                                /{{ page.slug }}
                            {% else %}
                                /
                            {% endif %}
                        </td>
{# Modify #}
                        {% if page.status == 'current' %}
                            <td class="text-center">
                                {{ toolbar_button_text(path('pageedit_modify', {'page': page.slug}), 'modify', 'sm') }}
                            </td>
                        {% elseif page.status == 'protected' %}
                            <td></td>
                        {% endif %}
{# Duplicate #}
                        {% if page.status == 'current' %}
                            <td class="text-center">
                                {{ toolbar_button_text(path('pageedit_duplicate', {'page': page.slug}), 'duplicate', 'sm') }}
                            </td>
                        {% elseif page.status == 'protected' %}
                            <td></td>
                        {% endif %}
{# Delete #}
                        <td class="text-center">
                            {% if page.status == 'archived' %}
                                {% set Route = path('pageedit_delete_archived', {'page': page.slug}) %}
                            {% elseif page.status == 'deleted' %}
                                {% set Route = path('pageedit_delete_deleted', {'page': page.slug}) %}
                            {% elseif page.status == 'redirected' %}
                                {% set Route = path('pageedit_delete_redirected', {'page': page.slug}) %}
                            {% else %}
                                {% set Route = path('pageedit_delete', {'page': page.slug}) %}
                            {% endif %}
                            {{ toolbar_button_text(Route, 'delete', 'sm') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{# No pages #}
        {% if pages.getTotalItemCount == 0 %}
            <p class="alert alert-info">
                {{ 'label.no_pages'|trans }}
            </p>
        {% endif %}
{# Pagination #}
        <div class="navigation text-center">
            {{ knp_pagination_render(pages) }}
        </div>
    </div>
{% endblock %}
