{% trans_default_domain 'pageedit' %}

<h2>Gestión de la página</h2>
<p>
    Las herramientas están disponibles cuando se identifica al usuario y tiene los derechos necesarios. Una barra de herramientas aparece en cada página. También es posible gestionar las páginas en el tablero.
</p>
<p>
    <strong>Crear una página</strong> : utilizar el botón {{ toolbar_button('', 'create') }}
    <br />
    <strong>Modificar una página</strong> : utilizar el botón {{ toolbar_button('', 'modify') }}
    <br />
    <strong>Duplicar una página</strong> : utilizar el botón {{ toolbar_button('', 'duplicate') }}
    <br />
    <strong>Suprimar una página</strong> : utilizar el botón {{ toolbar_button('', 'delete') }}
    <br />
    <strong>Ver la versión actual de una página</strong> : utilizar el botón {{ toolbar_button('', 'display') }}
    <br />
    <strong>Cancelar</strong> : utilizar el botón {{ toolbar_button('', 'cancel') }}
</p>

<h2>Datos necesarios</h2>
<p>
    Para cada página es necesario proporcionar
</p>
<ul>
    <li>
        <strong>Título</strong> : se utiliza para mostrar en la página y envía al navegador.
    </li>
    <li>
        <strong>Url semántica</strong> : enlace utilizado para llamar a la página, por ejemplo: http://example.com/pages/<strong>url-semantica</strong>, solamente minúsculas sin acento y '-'. Se ajusta automáticamente con el título, se puede cambiar, pero esto no se recomienda para tener una mejor referencia. Para crear un árbol con subpáginas, por ejemplo http://example.com/pages/<strong>nivel1/subpágina</strong>, simplemente separe los niveles con un "/" en el campo URL semántica, en este ejemplo: "<strong>nivel1/subpágina</strong>".
    </li>
    <li>
        <strong>Frecuencia de cambio</strong> : la frecuencia con la que cambia la página (que se utilizará en el fichero sitemap para los robots web).
    </li>
    <li>
        <strong>Importancia de la página</strong> : importancia de la página (que se utilizará en el fichero sitemap par los robots web).
    </li>
    <li>
        <strong>Contenido</strong> : el contenido de la página.
    </li>
</ul>

<h2>Páginas de enlace</h2>
<p>
    Para enlazar a una <strong>página del sitio gestionado a través de PageEdit</strong>, es recomendable utilizar el combo "Link list" disponible en el modo de edición via el botón "Insertar enlace", se establecerá un valor en el "url" va a dejar como está. Si puede copiar la url de la página.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/es/pages/pageedit-bundle">>> PageEdit (Tutoriales, capturas de pantalla, etc.) <<</a></strong>
</p>
