{% extends "@c975LPageEdit/layout.html.twig" %}
{% trans_default_domain 'pageedit' %}
{% set title = 'label.delete'|trans({}, 'toolbar') ~ ' "' ~ pageTitle ~ '"' %}

{% block pageedit_content %}
{# Toolbar #}
    {{ toolbar|raw }}
{# Warning message for specific cases #}
    {% if type == 'archived' %}
        <div class="alert alert-danger text-center">
            <span class="fas fa-exclamation-circle"></span> {{ 'label.page_archived'|trans }} <strong>{{ datetime|localizeddate('medium', 'medium') }} ({{ username }})</strong>
        </div>
    {% elseif type == 'deleted' %}
        <div class="alert alert-danger text-center">
            <span class="fas fa-exclamation-circle"></span> {{ 'label.page_deleted'|trans }} <strong>{{ datetime|localizeddate('medium', 'medium') }}</strong>
        </div>
    {% elseif type == 'redirected' %}
        <div class="alert alert-danger text-center">
            <span class="fas fa-exclamation-circle"></span> {{ 'label.page_redirected'|trans }} <strong>{{ datetime|localizeddate('medium', 'medium') }}</strong>
        </div>
    {% endif %}
{# Form #}
    {{ form_start(form) }}
        <p class="alert alert-danger text-center">
            {% if type is defined and (type == 'archived' or type == 'deleted' or type == 'redirected') %}
                {{ 'text.delete_archived_page'|trans }}
                {% if type is defined and type == 'redirected' %}
                    <br />
                    {{ 'text.delete_redirected_page'|trans }}
                {% endif %}
            {% else %}
                {{ 'text.delete_page'|trans }}
            {% endif %}
        </p>
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}