{% extends "@c975LPageEdit/layout.html.twig" %}
{% trans_default_domain 'pageedit' %}
{% set title = 'label.delete'|trans({}, 'toolbar') ~ ' "' ~ pageTitle ~ '"' %}

{% block pageedit_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LPageEdit/tools.html.twig', 'deleteDeleted', 'md', page) }}
{# Warning message #}
    {{ include('@c975LPageEdit/fragments/warningArchived.html.twig') }}
{# Form #}
    {{ form_start(form) }}
        <p class="alert alert-danger text-center">
            {{ 'text.delete_archived_page'|trans }}
        </p>
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}