{% extends "@c975LPageEdit/layout.html.twig" %}
{% trans_default_domain 'pageedit' %}
{% set title = 'label.duplicate'|trans({}, 'toolbar') ~ ' "' ~ pageTitle ~ '"' %}

{% block pageedit_content %}
    {{ include('@c975LPageEdit/tinymceInit.html.twig') }}
{# Toolbar #}
    {{ toolbar|raw }}
{# Form #}
    {{ form_start(form) }}
        <p class="alert alert-warning text-center">
            {{ 'text.special_formatting'|trans|raw|nl2br }}
        </p>
        {{ form_widget(form) }}
    {{ form_end(form) }}
{# Javascript #}
    <script type="text/javascript">
        $(document).ready(function() {
{# Update semantic url #}
            $('#page_edit_title')
                .change(function() {
                    var slugUrl = '{{ absolute_url(path('pageedit_slug', {'text': 'TEXT'})) }}';
                    var slug = $.post(slugUrl.replace('TEXT', $('#page_edit_title').val()));
                    slug.done(function(data) {
                        if (data.a != 'false') {
                            $('#page_edit_slug')
                                .val(data.a);
                        }
                    });
                });
        });
    </script>
{% endblock %}