{% extends "@c975LPageEdit/layout.html.twig" %}

{% block pageedit_content %}
    <div class="container">
{# Toolbar #}
        <div class="text-center">
            <div class="btn-group btn-group-md" role="group">

{# Brand #}
                <span class="btn btn-success"><strong>PageEdit</strong></span>

{# New #}
                <a href="{{ path('pageedit_new') }}" class="btn btn-default" title="{{ 'label.new_page'|trans }}" role="button">
                    <span class="glyphicon glyphicon-plus"></span></a>

{# Delete #}
                <a href="{{ path('pageedit_delete', {'page': page}) }}" class="btn btn-default" title="{{ 'label.delete'|trans }}" role="button">
                    <span class="glyphicon glyphicon-trash"></span></a>

{# Dashboard #}
                <a href="{{ path('pageedit_dashboard') }}" class="btn btn-info" title="{{ 'label.dashboard'|trans }}" role="button">
                    <span class="glyphicon glyphicon-dashboard"></span></a>

{# Help #}
                <a href="{{ path('pageedit_help') }}" class="btn btn-info" title="{{ 'label.help'|trans }}" role="button">
                    <span class="glyphicon glyphicon-flag"></span></a>
            </div>
        </div>

{# Form #}
        {{ form_start(form) }}
            <p class="alert alert-warning text-center">
                {{ 'text.special_formatting'|trans }}
            </p>
            {{ form_widget(form) }}

            <div class="form-group">
                <button type="submit" name="submit" title="{{ 'label.modify'|trans }}" class="btn btn-lg btn-primary btn-block">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'label.modify'|trans }}
                </button>
            </div>
        {{ form_end(form) }}

{# Cancel #}
        <p class="text-center">
            <a href="javascript:history.back()">
                {{ 'label.cancel'|trans }}</a>
        </p>
    </div>
{% endblock %}