{% extends "@c975LPageEdit/layout.html.twig" %}
{% trans_default_domain 'pageedit' %}

{% block pageedit_content %}
    {{ include('@c975LPageEdit/tinymceInit.html.twig') }}

{# Toolbar #}
    {{ toolbar|raw }}

{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.new_page'|trans }}" class="btn btn-lg btn-primary btn-block">
                {{ 'label.validate'|trans }}
            </button>
        </div>
    {{ form_end(form) }}

{# Cancel #}
    <p class="text-center">
        <a href="javascript:history.back()">
            {{ 'label.cancel'|trans }}</a>
    </p>

{# Javascript #}
    <script type="text/javascript">
        $(document).ready(function() {
{# Update semantic url #}
            $('#page_edit_title')
                .change(function() {
                    var slugUrl = '{{ absolute_url(path('pageedit_slug', {'text': 'TEXT'})) }}';
                    var slug = $.post(slugUrl.replace('TEXT', $('#page_edit_title').val()));
                    slug.done(function(data) {
                        if (data.a != 'false') {
                            $('#page_edit_slug')
                                .val(data.a);
                        }
                    });
                });
        });
    </script>
{% endblock %}