{% extends "@c975LPageEdit/layout.html.twig" %}

{% block pageedit_content %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <button type="submit" name="submit" title="{{ 'label.modify'|trans }}" class="btn btn-lg btn-primary btn-block">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'label.modify'|trans }}
                </button>
            </div>
{# Cancel #}
            <p class="text-center">
                <a href="{{ path('975l_display_page', {'page': slug}) }}">
                    {{ 'label.cancel'|trans }}</a>
            </p>
        {{ form_end(form) }}
    </div>
{% endblock %}